.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 150px;
  width: 250px;
  z-index: 999;
  background-color:white;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur (10px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 20px;
  padding-top: 10px;
  

}


.menu-button {
  display: none;
}

@media (max-width:800px) {
  .hideOnMobile{
    display: none;
  }

  .menu-button{
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%
  }
}

.hideOnLaptop {
  display: block; /* Default to visible */
}

@media screen and (min-width: 1024px) {
  .hideOnLaptop {
    display: none; /* Hide on larger screens (laptops and up) */
  }

  .sidebar {
    display: none;
  }
}
